#histograms-div {
	width: 100%;
	height: 100%;
    margin: 0px auto;
}

#histograms .c3-line {
    stroke-width: 1px;
    opacity: 0.6 !important;
}

.histCell {
    float: left;
}

.histCell:hover {
    background-color: gray;
}
