* {
	outline: none !important;
}

body {
	padding-top: 40px;
	background: red;
}

.nav-tabs {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background: #333;
	border-bottom: none !important;
	width:100%;
}

.nav-tabs li {
	margin-bottom: 0px !important;
}

.nav-tabs li a {
	border-radius: 0px !important;
	color: #FFF !important;
	border: 0px !important;
}

.nav-tabs li.active a,
.nav-tabs li a:hover {
	border: 0px !important;
	background-color: #555 !important;
}

#time, #radius {
	width: 49%;
	float: left;
}

#time label, #radius label {
	float: left;
	margin-right: 15px;
}

#disc-methods label input[type=checkbox] {
	margin-right: 7px;
	-webkit-appearance: none;
    background-color: transparent;
    border: 1px solid red;
    padding: 5px;
    position: relative;
}

#disc-methods label input[type=checkbox]:checked {
    background-color: red;
}

#disc-methods label input[type=checkbox]:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: -2px;
	left: 1px;
	color: #FFF;
}

@media screen and (max-width: 1280px) {
    #disc-methods label  {
		font-size: 12px;
	}

	#disc-methods .col-sm-2 {
		padding: 0px 10px;
	}
}

#time #time-slider-wrapper, #radius #radius-slider-wrapper {
	width: 100%;
	padding-left: 80px;
	padding-right: 20px;
}

#disc-methods {
	margin-top: 31px;
}

#disc-methods .col-sm-2 {
	width: 20%;
}

footer {
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 130px;
	padding: 20px;
	padding-top: 45px;
	background: #333;
	color: #FFF;
}

@media screen and (max-width: 1060px) {
    footer {
    	height: 150px;
    }
}

.ui-rangeSlider .ui-rangeSlider-innerBar {
	height: 14px !important;
}

.ui-rangeSlider .ui-rangeSlider-bar {
	margin-top: 3px !important;
	height: 14px !important;
}

.ui-rangeSlider .ui-rangeSlider-handle {
	height: 20px !important;
}

.ui-rangeSlider-label {
	color: #333;
}

/*
.tab-pane {
	border: 1px solid red;
}
*/

#earth-svg {
	width: 100%;
	height: 100%;
}

#temperature-svg {
	width: 100%;
	height: 100%;
}

#methodquality-svg {
	width: 100%;
	height: 100%;
}

#stacked-area-plot-div {
	width: 100%;
	height: 100%;
}

#orbits-div {
	width: 100%;
	height: 100%;
}

#earth {
	position: relative;
}

#earth .toolbar {
	z-index: 100;
	position: absolute;
	top: 10px;
	left: 10px;
}

#temperature {
	position: relative;
}

#temperature .toolbar {
	z-index: 100;
	position: absolute;
	top: 10px;
	left: 10px;
}

#temperature .axis line, #temperature .axis path {
	fill: none;
	stroke:black;
	shape-rendering: crispEdges;
}

.earth-legend-color-block {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;
	border: 1px solid;
}

/** General inforbar styling **/

.infobar {
	z-index: 100;
	position: absolute;
	top: 10px;
	right: 10px;
}

.infobar .panel-title {
	float: right;
}

.infobar .panel-heading-bottom {
	clear: both;
}

.infobar {
	max-width: 300px;
}

.infobar .panel-body {
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/** Worldmap style **/

#worldmap {
	position: relative;
}

#worldmap .infobar {
	right: 310px;
}

#pie-chart-wrapper {
	position: absolute;
	bottom: 15px;
	left: 10px;
	display: none;
}

#detail-pie-chart-telescopes, #detail-pie-chart-discovery {
	float:left;
}

#pie-chart-close {
	display: inline-block;
	float: right;
}

#worldmap-svg {
	float: left;
}

#worldmap-space-svg {
	border-left:1px solid #AAA;
	float: left;
	background: #04061f;
}

#tooltip {
	position: absolute;
	text-align: left;
	padding: 5px;
	font-size: 12px;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	z-index: 100;
	box-shadow: 1px 1px 5px #000;
}
