

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; /*width vs padding-bottom bottom should match aspect ratio of svg */
	vertical-align: middle;
	overflow: hidden;
	border:1px solid black
}

.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

body {
	padding-top: 40px;
	padding-bottom: 100px;
	background: red;
}

.nav-tabs {
	position: fixed;
    z-index: 100; 
    top: 0; 
    left: 0;
    background: #FFF;
    width:100%;
}

#slider {
	margin-top: 30px;
}

footer {
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px;
    background: #eaeaea;
}